/* style1.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Fixe la largeur pour inclure le padding et la bordure */
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Utilise la pleine largeur */
}

button:hover {
    background-color: #555;
}

/* Styles pour rendre le formulaire adaptatif */
@media only screen and (max-width: 600px) {
    form {
        max-width: 100%;
        padding: 10px;
    }

    select, input {
        width: calc(100% - 20px);
        margin-right: 10px;
    }

    button {
        width: calc(100% - 20px);
    }
}
